.text-center {
	text-align: center;
	font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
	color: #2b2b2b;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}

.font-classic {
	font: 400 100px/1.3 'Arizonia', Helvetica, sans-serif;
	color: #2b2b2b;
	text-shadow: 4px 4px 0px rgba(0,0,0,0.1);
}


.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

.axis text {
	font-family: sans-serif;
	font-size: 11px;
}

text {
	font-family: sans-serif;
	font-size: 13px;
}

.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
}
.grid path {
	stroke-width: 0;
}
.grid .tick {
	stroke: lightgrey;
	opacity: 0.7;
}
.grid path {
	stroke-width: 0;
}
body
{
	background: #FFFFFA;
}