

/* Apply a natural box layout model to all elements */
* { 
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box; 
}

body {
	font-family: 'Cabin', sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #474747;
	width: 100%;
	min-height: 100%;
}

figure {
	position: relative;
	float: right;
	width: 50%;
	min-width: 400px;
	margin-top: -120px;
}

h1 {
	width: 70%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
	font-size: 24px;
}

.title, .subtitle, .caption, .label, .legend, figure {
	font-family: monospace;
}


.title, .subtitle, .label, .legend {
	text-transform: uppercase;
}

.title {
	font-size: 18px;
	width: 400px;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 50px;
}

	.title .small {
		font-size: 12px;
	}

.subtitle {
	font-size: 16px;
	width: 50%;
	min-width: 400px;
	margin-top: 16px;
	text-align: center;
}

	.subtitle.left {
		float: left;
	}

	.subtitle.right {
		float: right;
	}


.caption {
	position: relative;
	top: -180px;
	width: 320px;
	display: block;
	margin: 0 auto;
	font-style: oblique;
	font-size: 15px;
}

	.caption p {
		margin: 0;
		text-indent: 12px;
	}

.canvas {
	font-family: 'Cabin', sans-serif;
 	font-size: 14px;
 	fill: #474747;
 	font-weight: normal;
}

.wedge {
	stroke: #aaa;
	stroke-width: 1px;
	/*shape-rendering: crispEdges;*/
}

.label {
	font-size: 12px;
}

.disease {
	fill: rgba(198, 205, 239);
	stroke: #b79add;
}

.other {
	fill: rgba(171, 219, 141, 0.8);
	stroke: #3da524;
}

.wounds {
	fill: rgba(252, 209, 105, 0.8);
	stroke: blanchedalmond;
}

.legend {
	width: 400px;
	height: 50px;
	padding: 0 20px;
	display: block;
	position: relative;
	margin: 0 auto;
	top: -150px;
	text-align: center;
}

.slider {
	width: 400px;
	display: block;
	position: relative;
	margin: 0 auto;
	left: -30px; /* hacky */
	top: -500px;
}
